{% extends "site_base.html" %}
{% comment %}
This template is copied from the base templates to provide the friends
photos link which is specific to social_project.

NOTE: we don't extend that since it would extend itself and Django will
crash.
{% endcomment %}

{% load i18n %}
{% load group_tags %}

{% block extra_head %}<link rel="stylesheet" href="/media/static/audiotracks/css/screen.css" />{% endblock %}

{% block body_class %}audiotracks{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url audiotracks user.username %}">{% trans 'Latest tracks' %}</a></li>
          <li><a href="{% url user_index user.username %}">{% trans 'Your tracks' %}</a></li>
          <li><a href="{% url upload_track user.username %}">{% trans 'Upload track' %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block body %}
{% endblock %}
