{% load i18n %} 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    <link rel="stylesheet" href="/media/static/audiotracks/css/screen.css">
  </head>
  <body>

  {% block subnav %}
      {% if user.is_authenticated %}
          <ul>
            <li><a href="{% url audiotracks user.username %}">{% trans 'Latest tracks' %}</a></li>
            <li><a href="{% url user_index user.username %}">{% trans 'Your tracks' %}</a></li>
            <li><a href="{% url upload_track user.username %}">{% trans 'Upload track' %}</a></li>
          </ul>
      {% else %}
          &nbsp;
      {% endif %}
  {% endblock %}

  {% block body %}
  {% endblock %}
  </body>
</html>




