{% extends "audiotracks/base.html" %}
{% load i18n %}

{% block body %}
<div class="audiotracks-detail">
  <img src="{{ track.imagefile.url_200x200 }}" />
  <h1>
    {{ track.title }}
  </h1>
  <h2>
    by {{ track.artist }}, {{ track.date }}
  </h2>
  <h3>
     {{ track.genre }} 
  </h3>
  <div>
    <!--
    <audio src="{{ track.audiofile.url }}" controls="controls">
    Your browser does not support the audio element.
    </audio>
    -->
  </div>
  <div class="audiotracks-description">
    {{ track.description }}
  </div>
  <div class="audiotracks-download">
    <a href="{{ track.audiofile.url }}">{% trans 'Download Track' %}</a>
  </div>
</div>
{% endblock %}
