{% extends "audiotracks/base.html" %}
{% load i18n %}

{% block body %}
<h1>{% trans 'Latest Tracks' %}</h1>
<ul class="audiotracks-list">
{% for track in tracks %}
<li>
{% if track.user == request.user %}
    {% include 'audiotracks/_list_actions.html' %}
{% endif %}
<a href="{% url track_detail track.user.username,track.slug %}">{{ track.title }}</a>
uploaded by {{ track.user.username }}
on {{ track.created_at|date:"l d M Y" }}
</li>
{% endfor %}
</ul>

{% include '_pagination.html' %}

{% endblock %}
