<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    {% if not user.is_authenticated %}
    <p>
    <a href="{% url django.contrib.auth.views.login %}?next=/music">Login</a> </a>
    </p>
    {% endif %}
    <p>
    <a href="{% url audiotracks %}">Go to audiotracks</a>
    </p>
    {% if user.is_staff %}
    <p>
    <a href="/admin">Go to admin</a> </a>
    </p>
    {% endif %}
  </body>
</html>

